<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Caffeinated 6.828: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{# stylesheets.load }}
      bootstrap.min.css
      google_prettify/sons-of-obsidian.css
    {{/ stylesheets.load }}

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ urls.base_path }}">Caffeinated 6.828</a>
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
        </div>
        <div class="navbar-collapse collapse" id="main-nav">
          <ul class="nav navbar-nav">
            {{# pages.all }}
              {{# submenu }}
                <li class="dropdown {{# is_active_page}}active{{/ is_active_page}}">
                  <a href="{{url}}" class="dropdown-toggle" data-toggle="dropdown">{{title}} <i class="caret"></i></a>
                  <ul class="dropdown-menu">
                    {{# lab.all }}
                     <li><a href="{{url}}">{{title}}</a></li>
                    {{/ lab.all }}
                  </ul>
                </li>
              {{/ submenu }}
              {{^ submenu }}
                <li{{# is_active_page}} class="active"{{/ is_active_page}}><a href="{{url}}">{{title}}</a></li>
              {{/ submenu }}
            {{/ pages.all }}
            <li><a href="https://exokernel.scripts.mit.edu/submit/">Submit</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{{ content }}}
    </div>

    {{# javascripts.load }}
      jquery-1.10.2.min.js
      bootstrap.min.js
    {{/ javascripts.load }}
    {{{ widgets.syntax }}}

  </body>
</html>
