<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Caffeinated 6.828: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ urls.base_path }}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ urls.base_path }}">Caffeinated 6.828</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{# pages.all }}
              <li{{# is_active_page}} class="active"{{/ is_active_page}}><a href="{{url}}">{{title}}</a></li>
            {{/ pages.all }}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{{ content }}}
    </div>

    <script src="{{ urls.base_path }}/static/jquery-1.10.2.min.js"></script>
    <script src="{{ urls.base_path }}/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
